$pageColor: #d4e4ff;
$danger: #f6511dff;
$warning: #ffb400ff;
$secondary: #00a6edff;
$success: #7fb800ff;
$dark: #0d2c54ff;
$boxShadowColor: #c2c6cc;

body {
	margin: 0;
}

button {
	color: white;
	padding: 10px 17px;
	cursor: pointer;

	&.success {
		border: solid 2px $success;
		background-color: $success;
	}

	&.danger{
		border: solid 2px $danger;
		background-color: $danger;
	}
}

.cms-page {
	width: 100%;
	height: 100%;
	background-color: $pageColor;
	.cms-header{
		display: flex;
		flex-direction: row;
		flex: 1;
		background-color: white;
		&.with-logo {
			padding: 6px 0;
		}

		&.without-logo {
			padding: 25px 10px;
		}
		.route-link {
			margin: auto 0;
			background-color: transparent;
			a {
				text-decoration: none;
				text-transform: capitalize;
				color: $dark;
			}
		}
		.header-logo {
			max-width: 60px;
			max-height: 60px;
			margin: 0 10px;
			img {
				max-width: inherit;
			}
		}
	}
	.cms-page-options {
		display: flex;
		flex-direction: row-reverse;
		background-color: white;
		padding: 15px 10px;
		margin: 0 5px;
		box-shadow: 2px 1px 10px $boxShadowColor;
		border-radius: 3px;
		button.cms-option {
			margin-left: 10px;
			border: solid 2px transparent;
		}
	}
	.cms-body {
		display: flex;
		flex-direction: row;
		margin: 10px 5px 0px 5px;
		div {
			padding: 8px;
		}
		.components {
			flex-basis: 250px;
			background-color: white;
			display: flex;
			flex-direction: column;
			.component-item {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				p{
					margin-top: auto;
					margin-bottom: auto;
					text-transform: capitalize;
				}
				button {
					padding: 5px 11px;
				}
			}
		}
		.main {
			flex-grow: 1;
			padding-top: 0;
			padding-right: 0;
			.component-container {
				padding-top: 0;
				padding-right: 0;
				display: flex;
				flex-direction: column;
				.component-header {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					background-color: white;
					padding: 15px 10px;
					flex-shrink: 1;
					.component-title {
						width: 30%;
						height: 31px;
						border: solid 1px $secondary;
						border-radius: 3px;
						padding: 0 10px;
						margin-top: auto;
					}
					select.change-component {
						width: 15%;
						background-color: transparent!important;
						padding: 10px;
						border: solid 1px $secondary;
						border-radius: 3px;
					}
				}
				.component {
					padding-top: 0;
					background-color: white;
					.component-input {
						width: 100%;
						height: 31px;
						border: solid 1px $secondary;
						border-radius: 3px;
						padding: 10px;

						&.textarea {
							height: 60px;
							resize: none;
						}
					}
					.component-header{
						padding-left: 0;
						padding-right: 0;
					}

					.nested-component-footer{
						margin: 15px;
						display: flex;
						flex-direction: column;
						.add-component {
							margin: auto;
						}
					}
				}

				.link-container {
					display: flex;
					flex-direction: row;
					input {
						width: 85%;
					}
					a {
						margin-top: auto; //work on centering text vertically
					}
				}
			}
		}
	}
}
